{{template "header" .User}}

<h1>Your pictures:</h1>

{{range $ind, $pic := .Pics}}
    <img src="{{$pic}}">
{{end}}

<form method="post" enctype="multipart/form-data">
    <input type="file" name="nf">
    <button type="submit">Submit</button>
</form>

{{template "footer"}}